.bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background: #090580;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.logo img{
    width: 7em;
    margin-top: 30px;
}

.bar input{
    width: 60em;
    height: 2.5em;
    border-radius: 20px;
}